
<p>fdzfezfzefzefezfze</p>
<div class="prodContainer">
    <div class="product" *ngFor = "let product of products">
        <div class="description">
        <img class="prodImg" src='{{ "/assets/img/" + product.img  }}'>
            <p id="prodName">{{product.name}}</p>
            <p id="prodPrice">{{ product.price}} $ 
                <br>
                {{product.price / (product.pm.mass/1000)| number:'1.2-2' }} $/kg
            </p> 
        </div>
        <button (click) = "details(product.id)">détails</button>
        <div class="action">
            <div>-</div>
            <div>+</div>
            <button>acheter</button>
        </div>
    </div>
</div>

        
        
