




<nav>
<ul class="navigationProduct">
    <li class="{{junkClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonJunk()" (click) = "junkClicked ? getProducts('junk') : getProducts('')">Junk</li>
    <li class="{{entreeClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonEntree()" (click) = "entreeClicked ? getProducts('entree') : getProducts('')">Entrées</li>
    <li class="{{legumeClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonLegume()"   (click) = "legumeClicked ? getProducts('legume') : getProducts('')">Légumes</li>
    <li class="{{platClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonPlat()"  (click) = "platClicked ? getProducts('plat') : getProducts('')">Plat</li>
    <li class="{{laitageClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonLaitage()"   (click) = "laitageClicked ? getProducts('laitage') : getProducts('')">Laitages</li>
    <li class="{{fruitClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonFruit()"  (click) = "fruitClicked ? getProducts('fruit') : getProducts('')">Fruits</li>
    <li class="{{dessertClicked ? 'btn-change' : 'btn-default' }}"  (click) = "changeButtonDessert()" (click) = "dessertClicked ? getProducts('dessert') : getProducts('')">Desserts</li>
</ul>
</nav>

<form *ngIf="legumeClicked || fruitClicked">
    Nutrients
    <label for="a">vit A(%J Pour 100g):</label>
    <input id="a" type="number" name="a" [(ngModel)] = "pv.a">
    <label for="b">vit B(%J Pour 100g):</label>
    <input id="b" type="number" name="b" [(ngModel)] = "pv.b">
    <label for="c">vit C(%J Pour 100g):</label>
    <input id="c" type="number" name="c"[(ngModel)] = "pv.c">
    <label for="d">vit D(%J Pour 100g):</label>
    <input id="d" type="number" name="d" [(ngModel)] = "pv.d">
    <label for="e">vit E(%J Pour 100g):</label>
    <input id="e" type="number" name="e" [(ngModel)] = "pv.e">
    <label for="k">vit K(%J Pour 100g):</label>
    <input id="k" type="number" name="k" [(ngModel)] = "pv.k">

    <button>Submit</button>
</form>
<form class="macroForm" *ngIf="junkClicked || entreeClicked || platClicked || dessertClicked" >
    <h3>Nutriments pour 100g</h3>
    <div>
        <h4>Calories</h4>
        <label for="caloMin">Au minimum :</label>
        <input id="caloMin" type="number" name="caloMin" [(ngModel)] = "pm.calo">
        <label for="caloMax">Au maximum :</label>
        <input id="caloMax" type="number" name="caloMax" [(ngModel)] = "pm.calo">
    </div>
    <div>
        <h4>Glucides</h4>
        <label for="carbMin">Au minimum :</label>
        <input id="carbMin" type="number" name="carbMin" [(ngModel)] = "pm.carb">
        <label for="carbMax">Au maximum :</label>
        <input id="carbMax" type="number" name="carbMax" [(ngModel)] = "pm.carb">
    </div>
    <div>
        <h4>Sucres</h4>
        <label for="sugMin">Au minimum :</label>
        <input id="sugMin" type="number" name="sugMin"[(ngModel)] = "pm.sug">
        <label for="sugMax">Au maximum :</label>
        <input id="sugMax" type="number" name="sugMax"[(ngModel)] = "pm.sug">
    </div>
    <div>
        <h4>Matières grasses</h4>
        <label for="fatMin">Au minimum :</label>
        <input id="fatMin" type="number" name="fatMin" [(ngModel)] = "pm.fat">
        <label for="fatMax">Au maximum:</label>
        <input id="fatMax" type="number" name="fatMax" [(ngModel)] = "pm.fat">
    </div>
    <div>
        <h4>Gras saturés</h4>
        <label for="satuMin">Au minimum :</label>
        <input id="satuMin" type="number" name="satuMin" [(ngModel)] = "pm.satu">
        <label for="satuMax">Au maximum :</label>
        <input id="satuMax" type="number" name="satuMax" [(ngModel)] = "pm.satu">
    </div>
    <div>
        <h4>Protéines</h4>
        <label for="protMin">Au minimum :</label>
        <input id="protMin" type="number" name="protMin" [(ngModel)] = "pm.prot">
        <label for="protMax">Au maximum :</label>
        <input id="protMax" type="number" name="protMax" [(ngModel)] = "pm.prot">
    </div>
    <div>
        <h4>Fibres</h4>
        <label for="fibMin">Au minimum :</label>
        <input id="fibMin" type="number" name="fibMin" [(ngModel)] = "pm.fib">
        <label for="fibMax">Au maximum :</label>
        <input id="fibMax" type="number" name="fibMax" [(ngModel)] = "pm.fib">
    </div>
    <div>
        <h4>Sel</h4>
        <label for="sodMin">Au minimum :</label>
        <input id="sodMin" type="number" name="sodMin" [(ngModel)] = "pm.sod">
        <label for="sodMax">Au maximum :</label>
        <input id="sodMax" type="number" name="sodMax" [(ngModel)] = "pm.sod">
    </div>
    <button >Submit</button>
</form>

<div class="prodContainer">
    <div class="product" *ngFor = "let product of products">
        <div class="description">
        <img class="prodImg" src='{{ "/assets/img/" + product.img  }}'>
            <p id="prodName">{{product.name}}</p> 
            <p id="prodMass">{{product.pm.mass >= 1000 ? product.pm.mass/1000 + " kg" : product.pm.mass + " g"}}</p>
            <p id="prodPrice">{{ product.price}} $ 
                <br>
                {{product.price / (product.pm.mass/1000)| number:'1.2-2' }} $/kg
            </p> 
        </div>
        <button (click) = "details(product.id)">détails</button>
        <div class="action">
            <div>-</div>
            <div>+</div>
            <button>acheter</button>
        </div>
    </div>
</div>

        
        
