

<p #trial>Trial</p>


<nav>
<ul class="navigationProduct">
    <li class="{{junkClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonJunk()" (click) = "junkClicked ? getProducts('junk') : getProducts('')">Junk</li>
    <li class="{{entreeClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonEntree()" (click) = "entreeClicked ? getProducts('entree') : getProducts('')">Entrées</li>
    <li class="{{legumeClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonLegume()"   (click) = "legumeClicked ? getProducts('legume') : getProducts('')">Légumes</li>
    <li class="{{platClicked ? 'btn-change' : 'btn-default' }}" (click) = "getMinMax('plat')" (click) = "changeButtonPlat()"  (click) = "platClicked ? getProducts('plat') : getProducts('')">Plat</li>
    <li class="{{laitageClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonLaitage()"   (click) = "laitageClicked ? getProducts('laitage') : getProducts('')">Laitages</li>
    <li class="{{fruitClicked ? 'btn-change' : 'btn-default' }}" (click) = "changeButtonFruit()"  (click) = "fruitClicked ? getProducts('fruit') : getProducts('')">Fruits</li>
    <li class="{{dessertClicked ? 'btn-change' : 'btn-default' }}"  (click) = "changeButtonDessert()" (click) = "dessertClicked ? getProducts('dessert') : getProducts('')">Desserts</li>
</ul>
</nav>

<form *ngIf="legumeClicked || fruitClicked">
    Nutrients
    <label for="a">vit A(%J Pour 100g):</label>
    <input id="a" type="number" name="a" [(ngModel)] = "pv.a">
    <label for="b">vit B(%J Pour 100g):</label>
    <input id="b" type="number" name="b" [(ngModel)] = "pv.b">
    <label for="c">vit C(%J Pour 100g):</label>
    <input id="c" type="number" name="c"[(ngModel)] = "pv.c">
    <label for="d">vit D(%J Pour 100g):</label>
    <input id="d" type="number" name="d" [(ngModel)] = "pv.d">
    <label for="e">vit E(%J Pour 100g):</label>
    <input id="e" type="number" name="e" [(ngModel)] = "pv.e">
    <label for="k">vit K(%J Pour 100g):</label>
    <input id="k" type="number" name="k" [(ngModel)] = "pv.k">

    <button>Submit</button>
</form>
<form (ngSubmit) = "getProductsPm('plat')" class="macroForm" *ngIf="junkClicked || entreeClicked || platClicked || dessertClicked" >
    <h3>Nutriments pour 100g</h3>
    <div>
        <h4>Calories</h4>
        <label for="minCalo">Au minimum :</label>
        <input id="minCalo" type="number" name="minCalo" [placeholder]='minimalCalo'  [(ngModel)]="minCalo">
        <label for="maxCalo">Au maximum :</label>
        <input id="maxCalo" type="number" name="maxCalo" [placeholder]='maximalCalo' [(ngModel)]="maxCalo">
    </div>
    <div>
        <h4>Glucides</h4>
        <label for="minCarb">Au minimum :</label>
        <input id="minCarb" type="number" name="minCarb" [placeholder]='minimalCarb' [(ngModel)]="minCarb">
        <label for="maxCarb">Au maximum :</label>
        <input id="maxCarb" type="number" name="maxCarb" [placeholder]='maximalCarb' [(ngModel)]="maxCarb">
    </div>

    <div>
        <h4>Protéines</h4>
        <label for="minProt">Au minimum :</label>
        <input id="minProt" type="number" name="minProt" [placeholder]='minimalProt' [(ngModel)]="minProt">
        <label for="maxProt">Au maximum :</label>
        <input id="maxProt" type="number" name="maxProt" [placeholder]='maximalProt' [(ngModel)]="maxProt">
    </div>
    <div>
        <h4>Fibres</h4>
        <label for="minFib">Au minimum :</label>
        <input id="minFib" type="number" name="minFib" [placeholder]='minimalFib' [(ngModel)]="minFib">
        <label for="maxFib">Au maximum :</label>
        <input id="maxFib" type="number" name="maxFib" [placeholder]='maximalFib' [(ngModel)]="maxFib">
    </div>

    <button (click)="sugarAsc()"></button>

    <button type="submit">Submit</button>
</form>



<div class="prodContainer" #prod>
    <div class="product" *ngFor = "let product of products">
        <div class="description">
        <img class="prodImg" src='{{ "/assets/img/" + product.img  }}'>
            <p>calo : {{product.pm.calo}}</p>
          
            <p id="prodName">{{product.name}}</p> 
            <p id="prodMass">{{product.pm.mass >= 1000 ? product.pm.mass/1000 + " kg" : product.pm.mass + " g"}}</p>
            <p id="prodPrice">{{ product.price}} $ 
                <br>
                {{product.price / (product.pm.mass/1000)| number:'1.2-2' }} $/kg
            </p> 
        </div>
        <button (click) = "details(product.id)">détails</button>
        <div class="action">
            <div>-</div>
            <div>+</div>
            <button>acheter</button>
        </div>
    </div>
</div>

        
        
